MMflow.json
[{"id":"68e383f9.4fa45c","type":"tab","label":"Mycroft MayoClinic Skill","disabled":false,"info":""},{"id":"ae662154.e4931","type":"websocket in","z":"68e383f9.4fa45c","name":"mycroft-fallback","server":"980167aa.4e4068","client":"","x":80,"y":280,"wires":[["99b3b937.0d8a08","576a580.391b5a8","2bfdd8f6.fda948"]]},{"id":"2e92cbd0.ff8154","type":"switch","z":"68e383f9.4fa45c","name":"intents","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"condition","vt":"str"},{"t":"cont","v":"diagnosis","vt":"str"},{"t":"cont","v":"disease","vt":"str"},{"t":"cont","v":"drug","vt":"str"},{"t":"cont","v":"medical","vt":"str"},{"t":"cont","v":"medication","vt":"str"},{"t":"cont","v":"MayoClinic","vt":"str"},{"t":"cont","v":"MayoClinic","vt":"str"},{"t":"cont","v":"prescription","vt":"str"},{"t":"cont","v":"procedure","vt":"str"},{"t":"cont","v":"signs","vt":"str"},{"t":"cont","v":"supplement","vt":"str"},{"t":"cont","v":"surgery","vt":"str"},{"t":"cont","v":"treatment","vt":"str"},{"t":"cont","v":"symptoms","vt":"str"},{"t":"cont","v":"first aid","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":17,"x":550.0000152587891,"y":174.50000762939453,"wires":[["f01ae309.d3d14"],["f01ae309.d3d14"],["f01ae309.d3d14"],["f01ae309.d3d14"],["f01ae309.d3d14"],["f01ae309.d3d14"],["f01ae309.d3d14"],["f01ae309.d3d14"],["f01ae309.d3d14"],["f01ae309.d3d14"],["f01ae309.d3d14"],["f01ae309.d3d14"],["f01ae309.d3d14"],["f01ae309.d3d14"],["f01ae309.d3d14"],["f01ae309.d3d14"],["2f30c120.64193e"]]},{"id":"f01ae309.d3d14","type":"http request","z":"68e383f9.4fa45c","name":"https search MayoClinic full summary in XML","method":"GET","ret":"txt","paytoqs":true,"url":"https://wsearch.nlm.nih.gov/ws/query","tls":"","persist":false,"proxy":"","authType":"","x":920,"y":80,"wires":[["27f9db45.8d9f44"]]},{"id":"40a29fe6.b4966","type":"template","z":"68e383f9.4fa45c","name":"answer json response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.answer\", \"data\":{\"utterance\": \"Here is what I found {{payload}}\"}, \"context\":{}}","output":"str","x":1490.000015258789,"y":134.00000762939453,"wires":[["a7e926e4.61f368"]]},{"id":"99b3b937.0d8a08","type":"switch","z":"68e383f9.4fa45c","name":"question filter","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\"node_red.ask\"","vt":"str"},{"t":"cont","v":"\"Hey Mycroft\"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":200,"wires":[["2e92cbd0.ff8154"],["2e92cbd0.ff8154"]]},{"id":"391a579e.f6fbc8","type":"template","z":"68e383f9.4fa45c","name":"intent_failure - json response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.intent_failure\", \"data\":{}, \"context\":{}}","output":"str","x":1501.0000228881836,"y":296.50003814697266,"wires":[["a7e926e4.61f368"]]},{"id":"ecf7f5fa.11eac8","type":"comment","z":"68e383f9.4fa45c","name":"skill trigger words","info":"","x":560,"y":40,"wires":[]},{"id":"a7e926e4.61f368","type":"function","z":"68e383f9.4fa45c","name":"select data","func":"var msg = {payload: msg.payload};\nreturn msg","outputs":"1","noerr":0,"x":1837.571533203125,"y":177.50006103515625,"wires":[["83bb2391.c7ef3","dc9bfa0d.8d63b8"]]},{"id":"83bb2391.c7ef3","type":"websocket out","z":"68e383f9.4fa45c","name":"mycroft-out","server":"","client":"810ea0ac.dd344","x":2054.571533203125,"y":178.7857666015625,"wires":[]},{"id":"85e49743.e71bd8","type":"comment","z":"68e383f9.4fa45c","name":"json payload test","info":"","x":600,"y":600,"wires":[]},{"id":"865c8700.800528","type":"template","z":"68e383f9.4fa45c","name":"answer json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.answer\", \"data\":{\"utterance\" : \"{{payload}}\"}, \"context\":{}}","output":"str","x":615.7500152587891,"y":648.7500400543213,"wires":[["a30cea4d.a8d648"]]},{"id":"3f5de01.97a992","type":"inject","z":"68e383f9.4fa45c","name":"answer hello world","topic":"","payload":"node-red says hello world","payloadType":"str","repeat":"","crontab":"","once":false,"x":375.75001525878906,"y":648.7500400543213,"wires":[["865c8700.800528"]]},{"id":"a30cea4d.a8d648","type":"websocket out","z":"68e383f9.4fa45c","name":"mycroft-out","server":"","client":"810ea0ac.dd344","x":872.75,"y":649.2500629425049,"wires":[]},{"id":"2f30c120.64193e","type":"function","z":"68e383f9.4fa45c","name":"select data","func":"var msg = {payload: msg.payload};\nreturn msg","outputs":"1","noerr":0,"x":890,"y":300,"wires":[["391a579e.f6fbc8"]]},{"id":"95d97034.34617","type":"debug","z":"68e383f9.4fa45c","name":"mycroft answers","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":629.6071929931641,"y":353.25003814697266,"wires":[]},{"id":"576a580.391b5a8","type":"switch","z":"68e383f9.4fa45c","name":"answer filter","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\"speak\"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":280,"wires":[["95d97034.34617"]]},{"id":"3d99db5b.2ef2a4","type":"template","z":"68e383f9.4fa45c","name":"ask json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.query\", \"data\":{\"utterances\" : [\"{{payload}}\"]}, \"context\":{}}","output":"str","x":609.607177734375,"y":713.7500629425049,"wires":[["687ae9d0.056da8"]]},{"id":"b2558115.c3711","type":"inject","z":"68e383f9.4fa45c","name":"ask hello world","topic":"","payload":"node-red says hello world","payloadType":"str","repeat":"","crontab":"","once":false,"x":369.607177734375,"y":713.7500629425049,"wires":[["3d99db5b.2ef2a4"]]},{"id":"687ae9d0.056da8","type":"websocket out","z":"68e383f9.4fa45c","name":"mycroft-out","server":"","client":"810ea0ac.dd344","x":876.6071624755859,"y":714.2500858306885,"wires":[]},{"id":"dc9bfa0d.8d63b8","type":"debug","z":"68e383f9.4fa45c","name":"fallback out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1992.857177734375,"y":279.5000305175781,"wires":[]},{"id":"2bfdd8f6.fda948","type":"switch","z":"68e383f9.4fa45c","name":"converse filter","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"converse","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":360,"wires":[["dec99b0f.328848","11962d56.a4b8e3"]]},{"id":"c4c15824.056948","type":"template","z":"68e383f9.4fa45c","name":"converse activate","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.converse.activate\", \"data\":{}, \"context\":{}}","output":"str","x":641.357177734375,"y":781.5000305175781,"wires":[["46d9a2cb.bd052c"]]},{"id":"e7990411.644dc8","type":"inject","z":"68e383f9.4fa45c","name":"enable converse","topic":"","payload":"node-red converse yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":381.357177734375,"y":781.5000305175781,"wires":[["c4c15824.056948"]]},{"id":"46d9a2cb.bd052c","type":"websocket out","z":"68e383f9.4fa45c","name":"mycroft-out","server":"","client":"810ea0ac.dd344","x":878.3571624755859,"y":782.0000534057617,"wires":[]},{"id":"cb4e44d4.521728","type":"template","z":"68e383f9.4fa45c","name":"converse deactivate","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.converse.deactivate\", \"data\":{}, \"context\":{}}","output":"str","x":646.3571891784668,"y":836.5000457763672,"wires":[["329e82c1.6a285e"]]},{"id":"999e8c28.78bb","type":"inject","z":"68e383f9.4fa45c","name":"disable converse","topic":"","payload":"node-red converse no","payloadType":"str","repeat":"","crontab":"","once":false,"x":376.3571891784668,"y":836.5000457763672,"wires":[["cb4e44d4.521728"]]},{"id":"329e82c1.6a285e","type":"websocket out","z":"68e383f9.4fa45c","name":"mycroft-out","server":"","client":"810ea0ac.dd344","x":873.3571739196777,"y":837.0000686645508,"wires":[]},{"id":"6bdf9d82.53ae24","type":"template","z":"68e383f9.4fa45c","name":"conversing json response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.answer\", \"data\":{\"utterance\": \"this is converse inside node red\"}, \"context\":{}}","output":"str","x":1165.1072082519531,"y":473.2500419616699,"wires":[["5259cdcf.4cca24"]]},{"id":"dec99b0f.328848","type":"switch","z":"68e383f9.4fa45c","name":"converse stage","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"off","vt":"str"},{"t":"else"},{"t":"cont","v":"ask mycroft","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":801.3571929931641,"y":434.0000400543213,"wires":[["2f4d36dd.b520ea","784241fc.305d8"],["6bdf9d82.53ae24"],["94006186.5153b"]]},{"id":"5259cdcf.4cca24","type":"function","z":"68e383f9.4fa45c","name":"select data","func":"var msg = {payload: msg.payload};\nreturn msg","outputs":"1","noerr":0,"x":1541.3572044372559,"y":456.5000400543213,"wires":[["3880f768.e94ee8","79bfd627.53f3e8"]]},{"id":"3880f768.e94ee8","type":"websocket out","z":"68e383f9.4fa45c","name":"mycroft-out","server":"","client":"810ea0ac.dd344","x":1740.8572120666504,"y":494.03574562072754,"wires":[]},{"id":"79bfd627.53f3e8","type":"debug","z":"68e383f9.4fa45c","name":"converse out","active":true,"console":"false","complete":"payload","x":1758.8572082519531,"y":421.5000400543213,"wires":[]},{"id":"2f4d36dd.b520ea","type":"template","z":"68e383f9.4fa45c","name":"stop converse json response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.converse.deactivate\", \"data\":{}, \"context\":{}}","output":"str","x":1160,"y":420,"wires":[["5259cdcf.4cca24"]]},{"id":"94006186.5153b","type":"template","z":"68e383f9.4fa45c","name":"intent_failure - json response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.intent_failure\", \"data\":{}, \"context\":{}}","output":"str","x":1180,"y":520,"wires":[["5259cdcf.4cca24"]]},{"id":"11962d56.a4b8e3","type":"debug","z":"68e383f9.4fa45c","name":"converse","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":578.857177734375,"y":511.5000305175781,"wires":[]},{"id":"784241fc.305d8","type":"template","z":"68e383f9.4fa45c","name":"stop converse speak json response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\": \"node_red.answer\", \"data\":{\"utterance\": \"converse inside node is off\"}, \"context\":{}}","output":"str","x":1160,"y":360,"wires":[["5259cdcf.4cca24"]]},{"id":"fb0c2a04.b08e68","type":"comment","z":"68e383f9.4fa45c","name":"Mycroft MayoClinic Medical Skill","info":"","x":130,"y":60,"wires":[]},{"id":"27f9db45.8d9f44","type":"xml","z":"68e383f9.4fa45c","name":"xml to json","property":"payload","attr":"","chr":"","x":1230,"y":100,"wires":[["40a29fe6.b4966"]]},{"id":"980167aa.4e4068","type":"websocket-listener","z":"","path":"ws://fallback:test_key@127.0.0.1:6789","wholemsg":"false"},{"id":"810ea0ac.dd344","type":"websocket-client","z":"","path":"ws://out:test_key@127.0.0.1:6789","wholemsg":"false"}]
